.body1{
    width: 100%;
    background-image: url("https://aasthy.com/static/media/app-banner-background-desktop.5dd3c2c0.svg");
    height: 200px;
    background-position: center;
    display: flex;
    flex-direction: row;
    /* display: none; */
}
.body1left{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 2%;

    font-size: 25px;
}
.body1left h1{
    font-size: 22px;
    font-weight: 600;
    color: #fff;
    padding-bottom: 2%;;
}

.body1left p{
    font-size: 13px;
    font-weight: 400;
    color: #fff;
}

.body1left button{
    width: 130px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 11px;
    font-weight: 600;
    color: white;
    cursor: pointer;
    margin: 5px;
}
.right{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.right img{
    width: 100%;
    height: 71%;
    margin-right: 20px;
}
.mb{
    margin-bottom: 13px;
}
.btn{
    display: flex;
    flex-direction: row;
}